p,
button {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  user-select: none;
}

footer {
  position: absolute;
  bottom: 0;

  opacity: 0;

  background: rgb(0, 0, 0, 0.5);
  width: 100vw;
  text-align: center;

  font-size: 1.25rem;

  color: white;

  transition: opacity 0.5s;
}

footer:hover {
  opacity: 1;
}

footer > a {
  text-decoration: none;

  color: rgb(99, 219, 201);
}

footer > a:hover {
  text-decoration: underline;
}

.mainContainer {
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10fr;

  background: linear-gradient(rgb(221, 239, 243), rgb(196, 230, 253));
}

/* =========== HEADER SECTION ==============*/
.header {
  background: rgb(239, 253, 255);
  box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.1);

  display: flex;
  align-items: center;

  gap: 20px;

  padding: 10px 20px;

  text-align: center;
}

.headerBtn {
  font-size: 1.15rem;
  padding: 0.4em 1em;

  background: rgb(212, 232, 236);

  border-radius: 0.3em;
  border: 0;
}

.header:hover > .headerBtn {
  transition: 0.3s;
}

.headerBtn:hover {
  background: rgb(148, 186, 188);
}

.headerBtn:active {
  scale: 1.1;
}

.logo {
  font-size: 40px;
  font-weight: bold;

  margin: 0px 0.5em;
  margin-right: auto;

  user-select: none;
}

/*============= MIDDLE SECTION ==============*/

.middle {
  display: grid;
}

/*============= GAME PAGE ==============*/

.startBtn.disabled {
  pointer-events: none;
}

.playerArrows {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;
  justify-items: center;
  align-items: start;

  text-align: center;
}

.playerSection {
  display: flex;
  flex-direction: column;

  font-size: 1.5rem;

  justify-content: center;
  align-items: center;
}

.Btn {
  border: 0;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin-bottom: 10px;

  font-size: 1.25rem;

  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.1);

  background: rgb(231, 249, 250);

  transition: background 0.5s;
}

.Btn:hover {
  background: rgb(170, 204, 206);
}

.Btn.disabled {
  opacity: 0.25;
  background: rgb(170, 204, 206);
  cursor: default;
}

.movingInfo > p.disabled {
  opacity: 0.25;
  cursor: default;
}

.playerSection > p:first-child {
  position: relative;
  z-index: 1;

  font-size: 2rem;
  font-weight: bold;

  margin: 20px 0 60px 0;
}

.playerSection > p::before {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80px;
  height: 80px;
  background: rgba(239, 121, 117, 0.5);

  border-radius: 40px;

  transition: 0.25s;

  z-index: -1;
}

.playerSection.active > p::before {
  transform: translate(-50%, -50%) scale(1.5);
  background: rgba(137, 239, 117, 0.5);
}

.boardWithCoords {
  display: grid;
  grid-template-columns: 30px 500px;
  grid-template-rows: 30px 500px;
}

.boardCoordsTop {
  grid-column: 2;
  grid-row: 1;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
  user-select: none;
}

.boardCoordsLeft {
  grid-column: 1;
  grid-row: 2;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  text-align: center;
  align-items: center;
  user-select: none;
}

.boards {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr;

  align-items: center;
  justify-items: center;
}

.gameBoard {
  grid-row: 2;
  grid-column: 2;

  height: 500px;
  width: 500px;

  background: white;
  border: 4px solid black;
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  transition: opacity 0.1s;
}

.gameBoard.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.gameBoard.disabled.cpu {
  opacity: 1;
  pointer-events: none;
}

.boardPixel {
  position: relative;
  border: 2px solid rgb(123, 123, 219, 0.25);

  cursor: pointer;
}

.boardPixel.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.boardPixel.preview {
  background-color: rgba(0, 255, 0, 0.3);
  border: 2px solid green;
}

.boardPixel.preview.invalid {
  background-color: rgba(255, 0, 0, 0.3);
  border: 2px solid red;
}

.boardPixel.ship {
  background: rgb(123, 123, 219, 0.5);
}

.boardPixel.hit {
  background: rgba(238, 61, 61, 0.5);
}

.boardPixel.miss {
  background: rgba(179, 179, 179, 0.5);
}

.boardPixel.hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(238, 61, 61, 0.2);
  pointer-events: none;
}
